*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.input-md {
	position: absolute;

	float: left;
	display: block;
	width: 50%;
	height: 100%;

	border-right: 1px solod #000;
}

.preview {
	position: absolute;
	margin-left: 50%;
	
	float: left;
	width: 50%;
	height: 100%;

	padding-left: 20px;
}